body {
	// background: #DAC7B1;
	background: black;
}
.barrelBg {
	// background: url("../images/barrelBg.jpg") no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	// width: 100%;
	// height: 100%;
	// position: absolute;
	// top: 81px;
	// left: 0;	
}
.container {
	width: 1200px;
	// border: 5px solid red;
	margin: 0 auto;
	// box-sizing: border-box;
	// background: white;
	// background: #D4BFA4;

}
.navheader {
	width: 1200px;
	height: 60px;
	// border: 4px solid #e7e7e7; 
	display: flex;
	justify-content: space-between;
}
.bigFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	// border: 10px solid pink;
	width: 1200px;
	height: 100%;
	justify-content: space-between;
}
.barrelBarFlex {
	display: flex;
	width: 160px;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	// border: 1px solid blue;
	
}
.barrelBar{
	// border: 1px solid black;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	background: #B69E82;
	// font-family: "Special Elite";
	font-weight: 700;
	width: 180px;
	// background: url("../images/whiskeyMap.jpg") no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	// color: white;
	// position: relative;
	// top: 0;
	// left: 0;
	// background-image: url("../images/barrel.png");
}
.topRounded {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.bottomRounded {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.tempResults {
	// border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1000px;  // 1000px is good for result boxes
	// min-height: 900px;
	height: 100%;
	padding: 15px;
	// border: 10px solid orange;
	// background: url("../images/darkerLogo.png");
	// background: url("../images/darkerLogo.png") no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	// width: 100%;
	// height: 100%;
	// position: relative;
	// top: 180px;
	// left: 380px;

	
}
.positionLikeBox, .positionMoreButton, .positionSaveBar {
	position: relative;
	top: -810px;
	left: 0px;
}


.resultsFlex {
	display: flex;
	flex-direction: column;
	// border: 4px solid yellow;
}

.barrelPopUp {
	width: 180px;
	min-height: 80px;
	max-height: 120px;
	font-size: 12px;
	overflow: auto;
	background: #FFF3E6;
}
.bigFlex form {
	width: 140px;
}
details summary::-webkit-details-marker {
	// display: none;
	
	margin-left: 3px;
}
summary {
	outline: none;
}
.moreButton {
	width: 400px;
	height: 60px;
	line-height: 60px;
	background: #B69E82;
	text-align: center;
	color: white;
	font-size: 14px;
	margin: 30px auto;
}
.moreButton:hover {
	background: #9A7C5A;
}
.moreButton:active {
	font-size: 18px;
}
.titleDiv {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}
.whatYouLike {
	width: 620px;
	height: 60px;
	// border: 1px solid red;
	font-family: "Special Elite";
	font-size: 28px;
	// align-self: flex-start;
	// background: #CBD0D2;
	color: white;
	padding-top: 20px;
}
.searchHeader {
	width: 280px;
	// border: 1px solid blue;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding-right: 20px;
	background: black;
	// background: #9A7C5A;
}
.formContainer {
	width: 280px;
	height: auto;
	// border: 2px solid red;
}
.categories {
	// margin-left: 20px;
}
.pickStuff {
	color: white;
	width: 300px;
	height: 10px;
	font-size: 16px;
	// border: 1px solid white;
}
.tasteCategoryBox {
	margin-bottom: 5px;
}